@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Mono&display=swap');

#nav li{
    font-family: Poppins;
    list-style: none;
    color: pink;
    text-decoration: none;
}

ul{
  
}