<!DOCTYPE html>
<html>
    <head>
        <title>Viajes Fidelitas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/flavicon_viajes.png"/>
    </head>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
        
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
    
    <body>
        <h2>Datos del nuevo destino</h2>
        <br>
        <a th:href="@{/}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/guardarDestino}" 
              method="post"
              th:object="${destino}">

            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="pais">País: </label>
            <input type="text" name="pais" th:field="*{pais}"/>
            <br>
            <label for="ciudad">Ciudad: </label>
            <input type="text" name="ciudad" th:field="*{ciudad}"/>
            <br>
            <label for="precio">Precio: </label>
            <input type="text" name="precio" th:field="*{precio}"/>
            <br>
            <label for="descripcion">Descripción: </label>
            <input type="text" name="descripcion" th:field="*{descripcion}" maxlength="99"/>
            <br>
            <input type="submit" name="Guardar" value="Guardar"/>
        </form>
    </body>
</html>
